/* ============================== VARIABLES ============================== */
:root {
    /* container */
    --container__max: 1366px;
    --container__padding: 72px;

    /* font */
    --font__fam: 'Golos Text', sans-serif, Arial;
    --font__fam_second: 'Merriweather', serif;
    --font__size: 20px;
    --font__weight: 400;
    --line-height: 1.2;

    /* colors */
    --text_main: hsl(0, 0%, 19%);
    --black: hsl(0, 0%, 12%);
    --black_active: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 36%);
    --gray_lighter: hsl(0, 0%, 44%);
    --gray_light: hsl(0, 0%, 82%);
    --gray_lightest: hsl(0, 0%, 84%);
    --white: hsl(0, 0%, 100%);
    --beige: hsl(29, 32%, 87%);
    --beige_text: hsl(30, 5%, 39%);
    --yellow: hsl(44, 96%, 65%);
    --yellow_active: hsl(44, 96%, 55%);
    --red: hsl(7, 91%, 58%);
    --blue: hsl(219, 54%, 41%);
    --blue_hover: hsl(219, 54%, 60%);
    --blue_active: hsl(219, 54%, 20%);

    /* transition */
    --short: .2s;
    --transition_btn: color var(--short) ease-in-out, background-color var(--short) ease-in-out;
}


/* ============================== FONTS ============================== */
/* Golos Text */
@font-face {
    font-display: swap;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GolosText_Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GolosText_Medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/GolosText_SemiBold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GolosText_Bold.woff2') format('woff2');
}

/* Merriweather */
@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Merriweather_Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Merriweather_Bold.woff2') format('woff2');
}


/* ============================== GENERAL ============================== */
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--font__fam);
    font-size: var(--font__size);
    font-weight: var(--font__weight);
    line-height: var(--line-height);
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    color: var(--text_main);
    background-color: var(--white);
}

h1,
h2,
p,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-moz-selection {
    background-color: var(--yellow);
}

::selection {
    background-color: var(--yellow);
}

.container {
    max-width: var(--container__max);
    margin: 0 auto;
    padding-left: var(--container__padding);
    padding-right: var(--container__padding);
}

.logo {
    display: block;
    width: 246px;
    height: 36px;
}

.btn {
    max-width: 263px;
    border-radius: 66px;
    padding: 14px 49px 13px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    transition: var(--transition_btn);
}

.btn_filled {
    color: var(--white);
    background-color: var(--black);
}

.btn_filled:focus-visible,
.btn_filled:hover {
    color: var(--black);
    background-color: var(--yellow);
}

.btn_filled:active {
    background-color: var(--yellow_active);
}

.btn_outlined {
    border: 2px solid var(--black);
    color: var(--black);
    background-color: transparent;
}

.btn_outlined:focus-visible,
.btn_outlined:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn_outlined:active {
    background-color: var(--black_active);
}

.heading-1,
.heading-2 {
    font-family: var(--font__fam_second);
    font-weight: 400;
    text-transform: uppercase;
}

.heading-1 {
    font-size: clamp(36px, 5vw, 60px);
    line-height: 1.1;
}

.heading-2 {
    font-size: clamp(36px, 5vw, 54px);
}

.text_red {
    font-weight: 700;
    color: var(--red);
}

.text_blue {
    color: var(--blue);
}

.text_linethrough {
    display: inline-block;
    margin-right: clamp(7px, 1vw, 10px);
    text-decoration: var(--red) line-through;
}

.nav-btn {
    position: relative;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--text_main);
    transition: background-color var(--short) ease-in;
}

.nav-btn::before {
    content: '';
    position: absolute;
    top: calc(50% - 13px / 2);
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    transform-origin: center;
}

.nav-btn_prev::before {
    left: calc(54% - 13px / 2);
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

.nav-btn_next::before {
    left: calc(46% - 13px / 2);
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
}

.nav-btn:focus-visible,
.nav-btn:hover {
    background-color: var(--yellow);
}

.nav-btn:active {
    background-color: var(--yellow_active);
}

.nav-btn.disabled {
    background-color: var(--gray_lightest);
    cursor: auto;
}


/* ============================== HERO ============================== */
.hero {
    padding-top: clamp(18px, 4vw, 26px);
    padding-bottom: 130px;
    background: transparent url('../img/hero.jpeg') no-repeat center / cover;
}

.hero__logo {
    margin-bottom: clamp(41px, 5vw, 62px);
}

.hero__wrapper {
    max-width: 542px;
}

.hero__info {
    margin-bottom: clamp(30px, 4vw, 39px);
}

.hero__title {
    margin-bottom: 24px;
}

.hero__title_shift {
    display: flex;
    justify-content: end;
    text-indent: clamp(33px, 4vw, 57px);
}

.hero__text {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
}

.hero__links {
    display: flex;
    gap: 16px;
}


/* ============================== MARQUEE ============================== */
.marquee {
    display: flex;
    width: 100%;
    padding-top: clamp(10px, 3vw, 18px);
    padding-bottom: clamp(10px, 2vw, 17px);
    background-color: var(--red);
    overflow: hidden;
}

.marquee__content {
    font-family: var(--font__fam_second);
    font-size: clamp(16px, 2vw, 22px);
    line-height: 1.1;
    color: var(--white);
    white-space: nowrap;
    text-transform: uppercase;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

.marquee__content:not(:last-of-type) {
    padding-right: 5px;
}

@keyframes marquee {
    0% {
        transform: translateZ(0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}


/* ============================== EVENTS ============================== */
.events {
    padding-top: clamp(48px, 7vw, 80px);
    padding-bottom: clamp(60px, 7vw, 94px);
}

.events .container:nth-child(1) {
    margin-bottom: 36px;
}

.events .container:nth-child(2) {
    padding-left: 44px;
}

.events__item {
    display: flex;
}

.events__item-1 {
    gap: 64px;
}

.events__info-1 {
    width: calc(764 / 1222 * 100%);
    padding-top: 28px;
    padding-bottom: 28px;
}

.events__img-1 {
    width: calc(394 / 1222 * 100%);
    background: transparent url('../img/event-1.png') no-repeat center / contain;
}

.events__item-2 {
    gap: 16px;
}

.events__item-2 .events__text {
    margin-bottom: 60px;
}

.events__info-2 {
    width: calc(704 / 1222 * 100%);
    padding-top: 30px;
    padding-bottom: 14px;
}

.events__img-2 {
    width: calc(529 / 1222 * 100%);
    background: transparent url('../img/event-2.png') no-repeat center / contain;
}

.events__text {
    font-family: var(--font__fam_second);
    font-size: clamp(28px, 5vw, 36px);
    line-height: 1.35;
    text-transform: uppercase;
}

.events__table {
    margin-bottom: 48px;
}

.events__table-row {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--gray_light);
}

.events__table-row:first-child {
    align-items: flex-start;
}

.events__table-row:last-child {
    align-items: flex-end;
    border-bottom: none;
}

.events__table-row_left {
    display: inline-block;
    width: 306px;
    border-right: 2px solid var(--gray_light);
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 16px;
    color: var(--gray);
}

.events__table-row:first-child .events__table-row_left {
    padding-top: 0;
}

.events__table-row:last-child .events__table-row_left {
    padding-bottom: 0;
}

.events__table-row_right {
    width: 398px;
    padding-left: 16px;
    font-weight: 600;
}

.events__link {
    transition: color var(--short) ease-in-out;
}

.events__link:focus-visible,
.events__link:hover {
    color: var(--blue_hover);
}

.events__link:active {
    color: var(--blue_active);
}


/* ============================== STAGES ============================== */
.stages {
    padding-top: clamp(60px, 8vw, 92px);
    padding-bottom: clamp(60px, 8vw, 100px);
}

.stages__title {
    max-width: 806px;
    margin-bottom: 54px;
}

.stages__subtitle {
    display: inline-block;
    max-width: 280px;
    padding-left: 6px;
    font-family: var(--font__fam), sans-serif;
    font-size: clamp(18px, 5vw, 20px);
    font-weight: 400;
    text-transform: initial;
}

.stages__list {
    list-style-type: none;
    padding: 0;
}

.stages__list_desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(112px, auto));
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    gap: 20px;
}

.stages__item {
    display: flex;
    gap: 16px;
    padding: 20px;
    font-weight: 500;
    background: transparent url('../img/text-background.jpeg') no-repeat center / cover;
}

.stages__list_desktop .stages__item:nth-child(3) {
    grid-row: span 2;
}

.stages__list_desktop .stages__item:nth-child(7) {
    grid-column: span 2;
    padding-right: 310px;
    position: relative;
}

.stages__list_desktop .stages__item:nth-child(7)::after {
    top: -98px;
    right: -63px;
    width: clamp(300px, 30vw, 401px);
    height: 236px;
}

.stages__list_mobile::before,
.stages__list_desktop .stages__item:nth-child(7)::after {
    position: absolute;
    content: '';
    background: transparent url('../img/aircraft.png') no-repeat center / contain;
}

.stages__slider {
    display: none;
    flex-direction: column;
    row-gap: 28px;
}

.stages__list_mobile {
    position: relative;
}

.stages__list_mobile::before {
    top: -132px;
    left: 25%;
    right: 0;
    bottom: 0;
    width: 335px;
    height: 195px;
    transform: rotate(-3deg);
    z-index: 2;
}

.stages__slider-nav {
    display: flex;
    align-items: center;
    align-self: center;
    column-gap: 16px;
}

.stages__slider-pagination {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.stages__slider-pagination_bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gray_lightest);
}

.stages__slider-pagination_bullet.active {
    background-color: var(--text_main);
}

.stages__list_mobile {
    display: flex;
}

.stages__list_mobile .stages__item {
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    gap: 28px;
    width: 100%;
    height: 300px;
    font-size: 18px;
    padding: 62px 20px 34px;
}

.stages__list_mobile .stages__item.active {
   display: flex;
   animation: changeSlide 1.2s 1;
}

.stages__item_wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.stages__item_order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--white);
}

@keyframes changeSlide {
    from {
        opacity: 10%;
    }
}


/* ============================== PARTICIPANTS ============================== */
.participants {
    padding-top: clamp(60px, 8vw, 100px);
    padding-bottom: 140px;
}

.participants__title {
    margin-bottom: 60px;
}

.participants__slider {
    position: relative;
}

.participants__slider-nav {
    position: absolute;
    top: -115px;
    right: 0;
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.participants__slider-pagination {
    font-size: clamp(12.5px, 5vw, 16px);
}

.participants__slider-pagination_total {
    color: var(--gray_lighter);
}

.participants__slider-list {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.participants__slider-list::-webkit-scrollbar {
    display: none;
}

.participants__slider-item {
    display: flex;
    flex-shrink: 0;
    width: calc(394 / 1222 * 100%);
    padding-left: 37px;
    padding-right: 37px;
}

.participants__slider-item_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.participants__slider-img {
    margin-bottom: 29px;
    font-size: 0;
}

.participants__slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.participants__slider-person {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 20px;
}

.participants__slider-name {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 600;
}

.participants__slider-title {
    color: var(--gray_lighter);
}

.participants__slider-link {
    margin-top: auto;
    border: 1px solid var(--blue);
    border-radius: 62px;
    padding: 8px 12px 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--blue);
    transition: var(--transition_btn);
}

.participants__slider-link:focus-visible,
.participants__slider-link:hover {
    color: var(--white);
    background-color: var(--blue);
}

.participants__slider-link:active {
    background-color: var(--blue_active);
}


/* ============================== FOOTER ============================== */
.footer {
    padding-top: 42px;
    padding-bottom: clamp(57px, 5vw, 72px);
    background-color: var(--beige);
}

.footer__text {
    font-size: 16px;
    color: var(--beige_text);
}


/* /////// MEDIA QUERIES /////// */
@media (max-width: 1365px) {
    .btn_outlined {
        border: none;
        background-color: var(--white);
        opacity: .9;
        transition: opacity var(--short) ease-in-out;
    }

    .btn_outlined:hover {
        opacity: 1;
        color: var(--text_main);
        background-color: var(--white);
    }

    .stages__list_desktop .stages__item:nth-child(3) {
        grid-row: initial;
    }

    .stages__list_desktop .stages__item:nth-child(7) {
        grid-column: span 3;
    }
}

@media (max-width: 992px) {
    .hero__wrapper {
        max-width: 50%;
    }

    .hero__links {
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }

    .hero__title_shift {
        justify-content: start;
    }

    .events__item {
        flex-direction: column;
    }

    .events__item-1 {
        gap: 24px;
    }

    .events__item-2 {
        gap: 28px;
    }

    .events__info-1,
    .events__img-1,
    .events__info-2,
    .events__img-2 {
        width: 100%;
    }

    .events__text {
        text-align: center;
    }

    .events__text_shift {
        display: block;
        transform: translateY(261px);
    }

    .events__info-1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .events__img-1 {
        height: 213px;
        transform: translateY(-100px);
    }

    .events__img-2 {
        height: 395px;
    }

    .stages__list_desktop .stages__item:nth-child(7) {
        grid-column: span 2;
    }

    .stages__list_desktop .stages__item:nth-child(7)::after {
        top: -30px;
        right: 0;
    }

    .participants__slider-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    :root {
        --container__padding: 20px;
    }

    .events .container:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
    }

    .events__info-2 {
        padding: 0 20px;
    }

    .stages__title {
        margin-bottom: 148px;
    }

    .stages__list_desktop .stages__item:nth-child(7) {
        grid-column: initial;
    }

    .stages__list_desktop {
        display: none;
    }

    .stages__slider {
        display: flex;
    }

    .stages__item_wrap {
        align-items: center;
    }

    .participants {
        padding-bottom: 176px;
    }

    .participants__slider-nav {
        top: unset;
        left: 0;
        bottom: -77px;
        justify-content: center;
    }

    .participants__slider-item {
        justify-content: center;
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 576px) {
    .btn {
        max-width: unset;
        width: 100%;
        padding: 16px 43px;
        line-height: 1;
    }

    .hero__wrapper {
        max-width: 100%;
    }

    .events__text_shift {
        transform: translateY(261px);
    }

    .events__img-1 {
        transform: translateY(-120px);
    }

    .events .container:nth-child(1) {
        margin-bottom: 64px;
    }

    .events__item-2 .events__text {
        margin-bottom: 40px;
    }

    .events__table {
        margin-bottom: 24px;
    }

    .events__table-row {
        flex-direction: column;
        row-gap: 12px;
        padding-bottom: 16px;
    }

    .events__table-row:not(:first-child) {
        padding-top: 15px;
    }

    .events__table-row:nth-child(4) {
        flex-direction: row;
        column-gap: 12px;
    }

    .events__table-row:nth-child(4) .events__table-row_left {
        flex-basis: 141px;
    }

    .events__table-row:nth-child(4) .events__table-row_right {
        flex-basis: max-content;
    }

    .events__table-row_left,
    .events__table-row_right {
        width: 100%;
        padding: 0;
    }

    .events__table-row_left {
        border-right: none;
    }

    .stages__list_mobile::before {
        left: 10px;
    }

    .stages__item_wrap {
        align-items: flex-start;
    }

    .hero__text,
    .events__text {
        text-align: left;
    }

    .stages__subtitle {
        display: block;
        max-width: 100%;
        padding-top: 16px;
        padding-left: 0;
        line-height: 1.2;
    }

    .stages__list_mobile .stages__item {
        gap: 30px;
    }

    .participants__title {
        margin-bottom: 40px;
    }

    .participants__slider-img {
        width: 244px;
        height: 244px;
    }

    .participants__slider-nav {
        column-gap: 12px;
    }
}

@media (max-width: 375px) {
    .text_blue {
        font-size: 18px;
    }

    .heading-1 {
        line-height: 1.15;
    }

    .heading-2 {
        line-height: 1.1;
    }

    .logo {
        width: 213px;
        height: 32px;
    }

    .nav-btn {
        width: 36px;
        height: 36px;
    }

    .nav-btn::before {
        top: calc(50% - 10px / 2);
        width: 10px;
        height: 10px;
    }

    .nav-btn_prev::before {
        left: calc(54% - 10px / 2);
    }

    .nav-btn_next::before {
        left: calc(46% - 10px / 2);
    }

    .hero {
        padding-bottom: 291px;
        background-image: url('../img/hero_mobile.jpeg');
        background-position: top;
    }

    .hero__title {
        margin-bottom: 19px;
    }

    .hero__title_shift {
        justify-content: end;
        text-indent: 33px;
    }

    .events__img-1 {
        transform: translateY(-150px);
    }
}
